<nav class="navbar navbar-expand-md sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="/">🍵 Anonify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link option" href="/feed">Feed<i class="fa-solid fa-fire"></i></a>
        
        <% if(currUser){%>
          <a class="nav-link option" href="/profile">Profile<i class="fa-solid fa-user"></i></a>
        <a class="nav-link option" href="/logout">Log out<i class="fa-solid fa-right-from-bracket"></i></a>
        
        <%}%>

        <% if(!currUser){%>
        <a class="nav-link option" href="/signup">Signup<i class="fa-solid fa-user-plus"></i></a>
        <a class="nav-link option" href="/login">Login<i class="fa-solid fa-circle-user"></i></a>
        <%}%>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link " href="/create"><button type="button" class="btn btn-info nav-btn"><i class="fa-solid fa-plus"></i> Spill Tea</button></a>
        
      </div>
      
    </div>
  </div>
</nav>