 html, .body {
  height: 100% !important;
  margin: 0 !important;
  background-color: #0C0A09 !important;
  color: #fff !important;
  
}
 
.navbar{
    background: #0C0A09;
    border-bottom: #2a2929 solid 1px;
     font-family: "M PLUS Rounded 1c", sans-serif;
}
.navbar-brand {
  font-weight: 900 !important;
  font-size: 2rem !important;
  color: #A855F7 !important; 
}

.nav-btn{
    border-radius: 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
    background: linear-gradient(#58cae1,#31a5e8);
    box-shadow: 0 0 25px #58cae1;
    transition: transform 0.2s ease-in-out;
   
}

.nav-btn:hover{
    box-shadow: 0 0 25px rgba(78, 20, 133, 0.8);
    transform: scale(1.1);
}

.option{
  color: #fff !important;
  margin-right: 1rem;
  transition: color 0.2s;
  opacity: 0.5;
}

.nav-link:hover {
  opacity: 1; 
}


.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  border-radius: 12px;
  padding: 1.5rem;
  margin: 1.5rem auto;
  max-width: 600px;
  box-shadow: 0 0 25px rgba(168, 85, 247, 0.8);
  
}
.banner h1{
    filter: drop-shadow(0 0 10px rgba(168, 85, 247, 0.7));
}

.top{
    text-align: center;
}

.top h2{
    font-weight: 600;
}
.top p{
    opacity: 0.7;
}

.back a{
    text-decoration: none;
    color: #bbb;
    font-size: 0.95rem;
    opacity: 0.7;
    
}

.back a:hover{
    opacity: 1;
}

 .tea-form{
    background: #221c2c6a;
  border-radius: 16px;
  border: 0.25px solid #3534345c;
  padding: 1.75rem;
  max-width: 700px;
  margin: 2rem auto;
 }
 
.tea-form h3{
    font-weight: 600;
}

.form-label {
  font-weight:light;
  margin-bottom: 0.5rem;
  color: #fff;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #bbb;          
  opacity: 1;
  font-weight: lighter;
  font-size: 0.95rem;
}

input.form-control,
textarea.form-control,select.form-control{
    background-color: #111;
    border-radius: 1rem;
    border: #2a2929 solid 1px;
}

input.form-control::placeholder,
textarea.form-control::placeholder, select.form-control {
  color: #bbb;
  opacity: 0.8;   

}

.text-mute {
    text-align: left;
    color: #bbb;
    font-size: smaller;
}

.annonymously{
    text-align: left !important;
    border: none;
    border-radius: 1rem;
    background-color: #3534345c;
    padding: 0.75rem;
    
}

.annonymously .form-check-input {
  width: 50px !important;
  height: 26px;
  background-color: #444;
  border-radius: 34px;
  border: none;
  cursor: pointer;
  transition:  0.2s ease;
}
.annonymously .form-check-input:before {
  content: "";
  position: absolute !important;
  width: 20px;
  height: 20px;
  top: 3px;
  left: 3px;
  display: none;
  background: #fff;
  border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.annonymously .form-check-input:checked {
  background-color: #a855f7;
}


.annonymously .form-check-label {
  margin-left: 10px;
  color: #fff;
}


.tags{
    border-radius: 3rem !important;
    font-size: smaller !important;
    border-color: #bbbbbbb7 !important;
    color: white !important;
}

.tags:hover{
    background: #a855f7 !important;
    border: none;
}

.selected{
    border-radius: 3rem !important;
    background: rgb(27, 233, 230) !important;
    cursor: pointer !important;
    transition: 0.2s ease-in-out;
    color: black !important;
    text-align: center !important;

}
.selected:hover{
    background: rgb(138, 36, 36) !important;
    color: white !important;
}


 .gradient-btn {
    background: linear-gradient(90deg, #a855f7, #f472b6);
    border: none;
    padding: 0.75rem;
    font-weight: bold !important;
    border-radius: 2rem !important;
    font-size: x-large !important;
    
  }


  .gradient-btn:hover {
    opacity: 0.9;
  }

.feedcard{
  background-color: #221c2c6a !important;
  border-radius: 16px !important;
  border: 0.25px solid #3534345c !important;
  padding: 1rem !important;
  margin: 0 auto !important;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  
}

.feedcard:hover{
  box-shadow: 0 0 25px rgb(73, 35, 108);
transform: scale(1.1);

}

.post-link{
  text-decoration: none !important;
}


.feedcard-title{
  color: white !important;
  font-size: 1.25rem !important;
  font-weight: 600 !important;
  text-align: left !important;
}


.feedcard-text{
  color: white !important;
  opacity: 0.5;
  text-align: left !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  font-size: 0.95rem !important;
}

.card-badge {
  color: #fff !important;
  font-weight: 500;
  padding: 0.35em 0.75em !important;
}

/* Category badge color */
.card-badge.Relationship {
  background: linear-gradient(135deg, #EC4899, #F43F5E) !important;
}

.card-badge.Family {
  background: linear-gradient(135deg, #F97316, #F59E0B) !important;
}

.card-badge.Friendship {
  background: linear-gradient(135deg, #3B82F6, #06B6D4) !important;
}


.card-badge.Drama {
  background: linear-gradient(135deg, #8B5CF6, #6366F1) !important;
}

.card-badge.Advice {
  background: linear-gradient(135deg, #10B981, #14B8A6) !important;
}

.card-badge.anonymous{
  border: 1px #413f3f solid !important;
}
.card-badge.owner{
  background: linear-gradient(135deg,#A855F7, #F472B6, #00FFFF) !important;
  color: #0C0A09 !important;
}
.card-badge.owner a{
  color: black;
}
.heading h2{
  font-size: 2.25rem;
  font-weight: 600;
}
.heading p{
  opacity: 0.6;
}

.dropdown-toggle{
 background: #1f1d1d !important;
 border-radius: 0.75rem !important;
 border: #413f3f 1px solid !important;
 margin-bottom: 1.75rem;
}

.dropdown-menu{
  background: #1f1d1d !important;
  border-radius: 1.25rem !important;
}

.dropdown-toggle:hover{
  border: #A855F7 2px solid !important;
}

.dropdown-item:hover{
  background: #d43989 !important;
  border-radius: 1rem !important;
}

.feed-btn{
  border-color: #d43989 !important;
  color: #d43989 !important;
  transition: 0.1s ease-in-out !important;
}
.feed-btn:hover{
  background-color:#d43989 !important ;
  color: white !important;
}

.feed-input:hover{
  border: #A855F7 2px solid !important;
}

.searchbar, .heading{
  margin-bottom: 1.25rem !important;
}

.postcard{
  background-color: #1f1d1d !important;
  border-radius: 1.5rem !important;
  padding: 1.75rem !important;
  color: white !important;
  border: 1px #413f3f solid !important;
  width: 60vw !important;
  margin: 0 auto !important;
}

.postcard-title{
  font-size: 1.8rem;
  font-weight: 600 ;
}

.post-btn{
  display:flex;
}
.post-edit, .post-delete{
  margin-left: 15px;
  
}

.post-delete{
border-color: #A855F7 !important;
  color: #A855F7 !important;
  transition: 0.1s ease-in-out !important;
}

.post-delete:hover{
background-color:#A855F7 !important ;
  color: white !important;
}

.post-edit{
border-color: #d43989 !important;
  color: #d43989 !important;
  transition: 0.1s ease-in-out !important;
}

.post-edit:hover{
  background-color:#d43989 !important ;
  color: white !important;
}

.comment-btn{
  font-size: 0.85rem !important;
  font-weight: 600 !important;
  text-align: right !important;
}

.reaction-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: transform 0.2s;
  color: white;
}

.reaction-btn:hover {
  transform: scale(1.2);
  border-radius: 2rem;
  background-color: #413f3f;
}

.comment-card {
  background-color: #1e1e1e;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
  color: #fff;
}

.comment-time {
  font-size: 0.8rem;
  color: #737373;
  margin-left: 8px;
}

.comment-text {
  font-size: 1rem;
  margin-top: 6px;
  margin-bottom: 8px;
  line-height: 1.4;
}

/* Replies (indented) */
.comment-replies {
  margin-left: 40px;
  margin-top: 12px;
  border-left: 2px solid #2d2d2d;
  padding-left: 16px;
}

.reply-btn{
  border: none !important;
  font-size: 0.75rem !important;
  border-radius: 2rem !important;
}
.reply-btn:hover{
background:#d34e93 !important ;
color: white !important;
}


.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px 20px;
    text-decoration: none;
    color: black !important;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.google-btn img {
    width: 20px;
    height: 20px;
}

.google-btn:hover {
    background-color: #f5f5f5;
    transform: translateY(-2px);
    box-shadow:0 0px 16px 2px #00ffff7e;
}


.or-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A8A29E; /* muted text */
    margin: 20px 0;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.or-divider::before,
.or-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #44403C;
    margin: 0 10px;
}


.post-count{
  opacity: 0.7;
  font-size:0.95rem;
}

.category{
  margin-bottom: 1rem !important;
  margin-top: -0.5rem !important;
  width: fit-content !important;
  margin-left: 3rem !important;
  border-radius: 1.5rem !important;
  background: #181616 !important;
}

.category-btn{
  border-color: #A855F7 !important;
  border: none !important;
  color: white !important;
  font-size:1rem !important;
  font-weight: 600 !important;
}

.dropdown{
  display: inline;
}

.profile-card{
  background-color: #1f1d1d !important;
  border-radius: 1.5rem !important;
  padding: 1.75rem !important;
  color: white !important;
  border: 1px #413f3f solid !important;
  width: 50vw !important;
  margin: 0 auto !important;
  padding-top: 2rem !important;
  
}

.profile{
  background-color: #1f1d1d !important;
  border-radius: 1.5rem !important;
  padding: 1.75rem !important;
  color: white !important;
  border: 1px #A855F7 solid !important;
  width: 50vw !important;
  margin: 0 auto !important;
  padding-top: 2rem !important;
  box-shadow: 0 0 25px rgb(49, 23, 72);
  display: flex !important;
  flex-direction: column !important;
}

.post-card{
  background-color: #1f1d1d !important;
  border-radius: 1.5rem !important;
  padding: 1.75rem !important;
  color: white !important;
  border: 1px #00FFFF solid !important;
 cursor: pointer;
  margin: 0 auto !important;

}
.post-card:hover{
  background-color: #406b6b76 !important;
  box-shadow:0 0px 16px 2px #00ffff7e !important;

}

.profile-section{
  padding-top:6rem;
  
}

.post-section{
margin-top: 2rem !important;
padding-bottom: 2rem !important;
opacity: 0.8 !important;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 2rem;
}

.username{
  font-size: 2.5rem;
  font-weight: 700;
   color: #12fbf8;
  background-image: linear-gradient(45deg, #12fbf8 , #7071dc 33%, #bb3b77 67%, #43ea5a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bio{
  font-size: 1.2rem;
  font-weight: 400;
  color: #f8f8f893 !important;
  margin-top: 0.5rem !important;
}

.joined{
  font-size: 0.95rem;
  color:rgba(255, 255, 255, 0.541) !important;
  margin-top: 1.5rem !important;
}

.gradient-bar{
  background: linear-gradient(90deg, #a855f7, #f472b6);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-align: center;
  width: 40vw;
  margin: 0 auto;
  margin-bottom: -1rem !important;
}

.count{
  text-align: center !important;
}
.number{
  font-size: 2rem;
  font-weight: 700;
  color: #6b6603;
  background-image: linear-gradient(45deg,  #0ed7e6 50%, #3469a1 75%, #59b0cf 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.avatar{
 width: 120px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(135deg, #a855f7, #ec4899);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  box-shadow: 0 0 25px rgba(236, 72, 153, 0.4);
  border: 3px solid #9240a0 !important;
  text-transform: uppercase;
  flex-shrink: 0;
  
}

.edit{
  border: 3px solid #5c1169 !important;
  border-radius: 1rem !important;
  margin-right: 1rem !important;
}
.edit:hover{
  background-color:#6c2da73b !important ;
  color: white !important;
}