<% layout("/layouts/boilerplate.ejs")%>
    <div class="col-8 offset-2">
        <br>
        <h1 class="top mt-4">Login on Anonify</h1>
        <div class="back offset-2 tea-form">

            <form action="/login" method="post" class="needs-validation" novalidate>
                <div class="mb-4 title-section">
                    <label for="username" class="form-label">Username:</label>
                    <input type="username" class="form-control" placeholder="Give your story a catchy title"
                        id="username" name="username" required>

                </div>

                <div class="mb-4 title-section">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" placeholder="Give your story a catchy title"
                        id="password" name="password" required>

                </div>

                <button class="btn btn-outline-light post-delete">
                    Login
                </button>

                <div class="or-divider">
                    <span>or</span>
                </div>

                <div class="social-login">
                    <a href="/auth/google" class="google-btn">
                        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo" />
                        <span>Continue with Google</span>
                    </a>
                </div>


                
            </form>
        </div>
    </div>