<% layout("/layouts/boilerplate.ejs")%>


    <div class="col-8 offset-2  mb-2">

        <div class="profile-section">

            <div class="card mb-3 profile" >
                <div class="row g-0">
                    <div class="col-md-4 avatar-div">
                        <img src="/assets/bhumi.jpg" class="img-fluid rounded-circle avatar" alt="avatar">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title username">Anonymous</h5>
                            <h6 class="card-subtitle mb-2  bio">Just here for the tea ☕✨</h6>
                            <p class="card-text joined">Joined January 2025</p>
                        </div>

                    </div>
                </div>
              
                <hr>
                    <div class="count mt-2">
                        <div>
                            <h5 class="card-title number">42</h5>
                            <h6 class="card-subtitle mb-2">Posts</h6>
                        </div>


                    </div>
            </div>
            </div>


            <div class="gradient-bar mt-4 ">
                <h5><i class="fa-regular fa-comment"></i> My Posts</h5>
            </div>


            <!--Post section-->


            <div class="post-section">
                <div class="row row-cols-1 row-cols-md-2 g-4 profile-card">
                    <div>
                        <div class="card post-card">

                            <div class="card-body">
                                <h5 class="card-title">When Best Friends Turn into Strangers</h5>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card post-card">

                            <div class="card-body">
                                <h5 class="card-title">My Parents Still Treat Me Like a Kid</h5>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card post-card">

                            <div class="card-body">
                                <h5 class="card-title">The Sibling Rivalry That Never Ended</h5>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card post-card">

                            <div class="card-body">
                                <h5 class="card-title">She Blocked Me After Our First Date</h5>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>