<% layout("/layouts/boilerplate.ejs")%>
    <div class="col-8 offset-2">
        <br>
        <h1 class="top mt-4">Signup on Anonify</h1>
        <div class="back offset-2 tea-form">

            <form action="/signup" method="post" class="needs-validation" novalidate>
                <div class="mb-4 title-section">
                    <label for="username" class="form-label">Username:</label>
                    <input type="username" class="form-control" placeholder="yourVibe" id="username" name="username"
                        required>
                    <div class="invalid-feedback">
                        username already taken.
                    </div>
                </div>

                <div class="mb-4 title-section">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" placeholder="you@gmail.com" id="email" name="email"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Enter a valid email" required>

                </div>

                <div class="mb-4 title-section">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" placeholder="Make it legendary (use 8+ chars)"
                        id="password" name="password" minlength="8" required>
                    <div class="invalid-feedback">
                        password should be at least 8 characters long.
                    </div>

                </div>

                <button class="btn btn-outline-light post-delete mt-2">
                    Signup
                </button>





            </form>
        </div>
    </div>